@model IEnumerable<CalendarWebApp.Models.Calendar>

@{
    ViewData["Title"] = "Calendar";
}

<h1>Calendar</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td style="text-align:right;">
                <a href="calendar/@item.Date.Year-@item.Date.Month-@item.Date.Day">Details</a> |
                <a href="calendar/@item.Date.Year-@item.Date.Month-@item.Date.Day/deleteAll">
                    Delete All Events
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
